@import "tailwindcss";

@plugin "daisyui" {
  themes: willing-light --default, willing-light --prefersdark;
}

@plugin "daisyui/theme" {
  name: "willing-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: #AA87DE;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #E4A9D1;
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: #87DED6;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(43% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(85.5% 0.180 250.400);
  --color-info-content: oklch(0% 0 0);
  --color-success: #87DE89;
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(86.9% 0.147 75.500);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(79.7% 0.218 17);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "willing-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.006 285.885);
  --color-base-200: oklch(24% 0.006 286.033);
  --color-base-300: oklch(29% 0.013 285.805);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: #AA87DE;
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: #E4A9D1;
  --color-secondary-content: oklch(25% 0.09 281.288);
  --color-accent: #87DED6;
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: #505050;
  --color-neutral-content: oklch(98% 0 0);
  --color-info: #69D5FF;
  --color-info-content: oklch(0% 0 0);
  --color-success: #87DE89;
  --color-success-content: oklch(0% 0 0);
  --color-warning: #FFC558;
  --color-warning-content: oklch(0% 0 0);
  --color-error: #FF7489;
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}

.leaflet-control-attribution {
  border-top-left-radius: 0.5rem;
  padding: 4px 12px !important;
  background: var(--color-base-100) !important; 
}
